{% extends "layouts/application.jinja2" %}
{% block content %}
    <div class="banner">
        <h1 class="txt-standart banner-head">
            TM and MA simulator
        </h1>
    </div>
    <div class="main">
    <p>
        &ensp;This site provides you with a Turing Machine Simulator and Emulator of Normal Markov Algorithms.<br>
        &ensp;The TURING program simulates the operation of a Turing Machine. Turing Machines are abstract models of primitive digital
        computers. In fact, they are the most fundamental models of all logical computations. Such a machine was conceived by the
        British mathematician Alan Turing in 1935, long before digital computers became established. Turing also worked on machines
        to break the secret codes produced by the German Enigma machine in World War II.<br>
        &ensp;A Markov algorithm is a string rewriting system that uses grammar-like rules to operate on strings of symbols. Markov algorithms
        have been shown to be Turing-complete, which means that they are suitable as a general model of computation and can represent any
        mathematical expression from its simple notation.
    </p>
    </div>
{% endblock %}